{# footer.html.twig #}
<style>
    footer {
        padding: 3px;
        background-color: lightgrey;

    }
</style>
<footer>
    <p>
        Pour nous contacter : <a href="mailto:{{contactEmail}}">{{contactEmail}}</a>
    </p>
</footer>