{# _header.html.twig #}
<style>
    nav {
        height: 20px;
        background-color: lightgrey;
        padding: 10px;
    }
    a {
        display: inline;
        padding: 14px 16px;
        text-decoration: none;
        color: black;
    }
    a:hover {
        background-color: grey;
    }
</style>
<div>
    <nav>
            <a href="/">Home</a>
            <a href="/">News</a>
            <a href="/">Contact</a>
            <a  href="/">About</a>

    </nav>
</div>